<%= javascript_include_tag 'port_errors' %>
<div class="container">







<% @port_error_list.each do |switch|%>

      <div class="modal " id="ErrorModal<%= switch["id"]%>" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">События на коммутаторе  <%= switch["ip"].to_s%></h4>
            </div>
            <div class="modal-body">



              <%= form_for :notify_port, :url => notify_port_error_path do |f| %>

                  <%= f.select :mail, (@user_list.collect{|u| [u.fullname + "(#{u.region.name})", u.email]}),{ :prompt => "Выберите инженера"}, :class=>"form-control"%>


              <%= f.text_area :text,  size: "50x10",
               :value => "Добрый день. Найдены ошибки на коммутаторе #{switch["ip"]}, обратите внимание на следующее порты:
#{switch['ports'].map {|v| 'На порту: ' + v['port'] + ' найдено: ' + v['error_count'] + ' ошибок.' }.map(&:inspect).join("\n")}

"%>

                  <%= f.submit "Уведомить инженера"%>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>



      <% if switch["current_value"].to_i <= switch["old_value"].to_i %>
          <div class="alert alert-warning" id="<%= switch["id"] %>">
          <% else %>
    <div class="alert alert-danger" id="<%= switch["id"] %>">
      <% end %>
      <strong><%= switch["ip"] %></strong><br>

    <%= form_for :sw, :url => port_error_path(id: switch["id"], ip: switch["ip"]), :method => 'PATCH', remote: true do |s|%>






          <ul class="list-group port_saw">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ErrorModal<%= switch["id"].to_s%>"><span class="glyphicon glyphicon-eye-open" title="Уведомить инженера."></span></button>
            <%= link_to port_error_path(id: switch["id"], ip: switch["ip"]), confirm: 'Are you sure?', disable_with: 'deleting...', method: :delete, class: 'btn-mini btn-danger btn ', remote: true do %>
                  <span class="glyphicon glyphicon-minus-sign" title="Убрать из списка."></span>
              <% end %>

          </ul>





          <% end %>
      <% switch["ports"].each do |port| %>

         На порту: <%= port["port"] %> найдено: <%= port["error_count"] %> ошибок.<br>

      <% end %>


    </div>
  <% end %>

</div>

