<% if transport_show_time(@transport_event[0], @date) %>

    <div id='hide_event' data-toggle="collapse" data-target="#event"></div>

    <div id='event' class="collapse">
      <% @transport_event.each do |event| %>
          <%= transport_show_time(event, @date) %>
      <% end %>
    </div>

<% else %>
<div style="padding-bottom: 2.2%;"></div>
<% end %>


<ul class="pager">
  <li><%= link_to @date.prev_day, graphic_index_path(:date => @date.prev_day), remote: true %></li>
  График на : <%= day_today(@date) %>
  <li><%= link_to @date.next, graphic_index_path(:date => @date.next), remote: true %></li>
</ul>





<% @hash.sort_by { |k,v| k.name }.each do |reg, a| %>


    <h3 style="width: 100%; text-align: center;"><%= reg.name %>:</h3>

    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 30%; text-align: center">Ф.И.О.</th>
        <th style="width: 20%; text-align: center">Телефон</th>
        <th style="width: 20%; text-align: center">Рабочие часы</th>
        <th style="width: 30%; text-align: center">Комментарий</th>
      </tr>
      </thead>
    </table>
    <table class="table table-striped">
      <tbody>
      <% a.each do |res| %>

          <tr>
            <td style="width: 30%; text-align: center"><%= link_to res.fullname, user_path(res) %></td>
            <td style="width: 20%; text-align: center"><%= res.phone.gsub(/-/, "") %></td>
            <td style="width: 20%; text-align: center"><%= res.graphic[0].worktime %></td>
            <td style="width: 30%; text-align: center"><%= res.graphic[0].comment %></td>

          </tr>

      <% end %>
      </tbody>
    </table>

<% end %>