<!DOCTYPE html>
<html>
  <head>
    <title>Monstaff</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'bootstrap'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Monstaff</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
        <li><%= link_to "График", graphic_index_path  %> </li>
        <li><%= link_to "Календарь", graphic_month_path %></li>
        <li><%= link_to "Отпуска" %> </li>
        <li><%= link_to "Добавитьграфик", new_graphic_path  %></li>
        <li><%= link_to "Список сотрудников", user_index_path %></li>
        <li><%= link_to "Регистрация", new_user_path %></li>

        <li>
          <a class=" dropdown-toggle " data-toggle="dropdown" href="#">

            <span >Мониторниг</span><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Добавить тех. работы", transport_index_path %><span class="icon-wrench"></span></li>


            <li> <%= link_to "Разделение колец", managerings_path %>
              <span class="icon-wrench"></span></li>

            <li><%= link_to "Топология(beta)"   %><span class="icon-wrench"></span></li>
            <li><%= link_to "Отчет по коммутаторам", switches_path%><span class="icon-trash"></span> </li>
            <li><%= link_to "Отчет по агрегациям и ядрам", aggr_report_path%><span class="icon-trash"></span> </li>

          </ul>
        </li>



      </ul>
      <% if current_user %>
          <ul class="nav navbar-nav navbar-right" style="padding-right: 1%;">
            <div class="span2" style="padding-top: 3%; ">
              <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">

                  <span class="icon-cog icon-white" style="padding-right: 5%;"><%= current_user.fullname %> </span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                  <% if current_user.group.group_type = 1 %>
                      <li><%= link_to "Админка", adminpanel_path %><span class="icon-wrench"></span></li>
                      <% end%>


                  <li><%= link_to "Профиль", user_path(current_user) %><span class="icon-wrench"></span></li>
                  <li> <%= %>
                    <span class="icon-wrench"></span></li>
                  <li> <%= %>
                    <span class="icon-wrench"></span></li>

                  <li><%= link_to "Выход", logout_path %><span class="icon-wrench"></span></li>
                  <li><span class="icon-trash"></span> </li>
                </ul>
              </div>
            </div>


          </ul>


      <% else %>





      <% end %>
    </div>
    </div>
  </nav>


  <!--Group permission content-->
<% if current_user.present? and current_user.group.group_type == "1" %>
      <div class="dropdown" style="float: right; padding-right: 20px;" >
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Права на страницу
          <span class="caret"></span></button>
        <ul class="dropdown-menu">

          <%= form_for :group_perm, url: group_perm_path(:url_path => params[:controller].capitalize + "Controller" + params[:action]), remote: true  do |perm| %>
              <% Group.all.each do |g| %>
                  <li><%= g.name %>:

                    <%= check_box_tag 'group_ids[]', g.id, g.GroupPermission.where(url_path: params[:controller].capitalize + "Controller" + params[:action]).map(&:group_id).include?(g.id)  %></li>
              <% end %>
              <%= perm.submit "изменить", :class=>"btn btn-primary btn-xs" %>
          <% end %>
        </ul>
      </div>
  <% end %>
  <!--end group perm-->
  <%= yield %>
  </body>
</html>
